<button type="button" class="btn btn-dark"
        title="Add New Oil"
        data-toggle="modal"
        data-target="#addNewOilDialog" >
  Add New Oil
</button>

<Dialog::AddNewOil
  @submit={{this.args.submit}}
/>
