<button type="button" class="btn btn-dark m-1 btn-sm text-nowrap"
        title="Add New Oil"
        data-toggle="modal"
        data-target="#addNewOilDialog" >
  Add New Oil
</button>

<Dialog::AddNewOil
  @submit={{@submit}}
/>
