<button type="button" class="btn btn-dark m-1 btn-sm text-nowrap"
        title="Back to List"
        data-toggle="modal"
        data-target="#logChangesDialog" >
  &lt; Back to List
</button>

<Dialog::LogChanges
  @oil={{@oil}}
  @submit={{this.submit}}
/>
