<button type="button" class="btn btn-dark"
        title="Copy Oil"
        data-toggle="modal"
        data-target="#copyOilDialog" >
  Copy Oil
</button>

<Dialog::CopyOil
  @oil={{this.args.oil}}
  @submit={{this.args.submit}}
/>
