<button type="button" class="btn btn-dark m-1 btn-sm text-nowrap"
        title="Delete Oil"
        data-toggle="modal"
        data-target="#deleteOilDialog" >
  Delete
</button>

<Dialog::DeleteOil
  @oil={{@oil}}
  @submit={{@submit}}
/>
