<button type="button" class="btn btn-dark"
        title="Delete Oil"
        data-toggle="modal"
        data-target="#deleteOilDialog" >
  Delete
</button>

<Dialog::DeleteOil
  @oil={{this.args.oil}}
  @submit={{this.args.submit}}
/>
