<button type="button" class="btn btn-dark m-1 btn-sm text-nowrap"
        title="Save Edits"
        data-toggle="modal"
        data-target="#logChangesDialog2"
        disabled={{not @changesMade}} >
  Save Edits
</button>

<Dialog::LogChanges
  @id="logChangesDialog2"
  @oil={{@oil}}
  @submit={{this.submit}}
/>
