# conda requirements file for the oil_database package.
# These are the core requirements -- not much beyond
# Python and numpy :-)

# see the conda_requirements_optional.txt file for
#   additional packages that might be useful

# These should all be in one of the following channels:
# 1: conda-forge
# 2: defaults

# It would be best to have these channels configured the order of precedence
# outlined above in your conda configuration.

python>=3.8.*,<3.10
numpy>=1.20
pynucos>=2.12  # https://github.com/NOAA-ORR-ERD/PyNUCOS


# scipy  # no longer used


