# conda requirements file for the oil_database package.
# These are the core requirements -- not much beyond
# Python 3.8 and numpy :-)

# see the conda_requirements_optional.txt file for
#   additional packages that might be useful

# These should all be in one of the following channels:
# 1: conda-forge
# 2: defaults

# It would be best to have these channels configured the order of precedence
# outlined above in your conda configuration.

python>=3.8.*
numpy>=1.20
scipy  # used for gnome oil estimation -- for now

# for working with mongodb
mongodb>=4.2.0
pymongo<4

python>=3.8

numpy

# https://github.com/NOAA-ORR-ERD/PyNUCOS
pynucos>=2.12

