# conda requirements file for the oil_database package.
# These are the core requirements -- not much beyond
# Python and numpy :-)

# see the conda_requirements_optional.txt file for
#   additional packages that might be useful

# These should all be in the conda-forge channel:

# It is best to have the conda-forge channel configured as
# the first channel, and have channel_priority set to "strict"

python>=3.9,<3.14
numpy>=1.24
pynucos>=3.3
awesome-slugify>=1.6.5
