# minimum requirements needed to build the docs
# these should all be pip-installable

numpy
# https://github.com/NOAA-ORR-ERD/PyNUCOS
pynucos

# for downloading/importing data
python-dateutil
openpyxl

sphinx
sphinx_rtd_theme
# for highlighting ipython code / examples
ipython
