<div class="detail-section">

  <div class="table-responsive">
    <strong>Flash Point:</strong>

    {{#if oil.flash_point}}
      {{value-unit (convert-unit oil.flash_point.ref_temp "C") 2}}
    {{else}}
      None
    {{/if}}

  </div>

</div>
