<div class="detail-section">
  <div class="table-responsive">
    <strong>Pour Point:</strong>

    {{#if oil.pour_point}}
      {{value-unit (convert-unit oil.pour_point.ref_temp "C") 2}}
    {{else}}
      None
    {{/if}}

  </div>

</div>
