# conda requirements file for the ADIOS Oil Database Project
#  this is a trimmed down version that has only what the stand-alone needs

# These should all be in one of the following channels:
# 1: conda-forge
# 2: defaults

# It would be best to have these channels configured the order of precedence
# outlined above in your conda configuration.

python=3.7.*

mongodb>=3.3.9
pymongo>=3.6.0
pydantic

awesome-slugify>=1.6.5
configparser>=3.7.4

pynucos>=2.7.4  # this should be in conda-forge

# and for the web_api:
pyramid>=1.10.1
pyramid_tm
pyramid_debugtoolbar  # will eventually be brought in by pyramid_mongodb2
pyramid_mongodb2
simplejson  # required by cornice
cornice>=3.4.4  # use the NOAA fork installed with pip instead if you use PyInstaller
paste
pastedeploy>=2.0.1 # not sure if we need this
waitress
# docutils>=0.15.2
ujson

