<div class="hotkeys">
    <div class="keylabel container">
        <div class="row">
            <div class="col-xs-8 keys spacebar">
                space
            </div>
            <div class="labels col-xs-4">
                Play/Pause
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 keys">
                &rarr;
            </div>
            <div class="labels col-xs-4">
                Next Time Step
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 keys">
                &larr;
            </div>
            <div class="labels col-xs-4">
                Rewind
            </div>
        </div>
    </div>
</div>