<div class="querycontainer">
	<div class="container">
		<div class="row">
			<div class="form-group col-md-8 col-md-offset-2">
				<input type="text"
				       placeholder="How do I... ?"
				       class="chosen-select col-md-12"
				       id="helpquery" />
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="form-group col-md-8 col-md-offset-2" id="support">
			<div class="helpcontent">
			</div>
		</div>
	</div>
</div>

<div class="querycontainer">
	<div class="container">
		<div class="row">
			<div class="form-group col-md-8 col-md-offset-2">
				<h4 class="col-md-8">Can't Find an Answer to Your Question?</h4>
				<a href="mailto:webgnome.help@noaa.gov"
				   data-toggle="tooltip"
				   title="webgnome.help@noaa.gov">
				    Contact Support
				</a>
				<p>webgnome.help@noaa.gov</p>
			</div>
		</div>
	</div>
</div>
