<div class="intro">
    <div class="container">
        <div class="row">
            <div class="title">    
                <img class="weboillib_logo" src="img/oil-barrel-128x128.png">
                Welcome to the Online Oil Database (BETA)
            </div>
        </div>

        <div class="row">
            <div class="main">
	            <p>
	                This is a web based interface for managing a database of
	                oils.  With it, you can:
	            </p>
	            <ul>
		            <li>Search for oils using a wide range of criteria.</li>
		            <li>View individual oil properties.</li>
		            <li>Add and modify records (assuming you have the access rights).</li>
		            <li>Analyze and compare sets of oils.</li>
	            </ul>
	            <p>
	                This software was developed by the NOAA Office of Response
	                and Restoration (OR&amp;R) Emergency Response Division.
	            </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Get Started</h4>
                    </div>
                    <div class="panel-footer">
                        <p>
                            The first step to using this application is to
                            find an oil in the oil database.
                        </p>
                        <a href="#" class="query btn btn-primary btn-block">
                            <span class="glyphicon glyphicon-th-list"></span>
                            Oil Query
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>ADIOS Oil Library</h4>
                    </div>
                    <div class="panel-footer">
                        <p>
                            The ADIOS Oil Library includes physical and
                            chemical properties for hundreds of oils.
                            Oils are selected from this library for use in
                            WebGNOME. Use this link to browse the oil library
                            or (future development) enter a custom oil.
                        </p>
                        <a href="#" class="oillib btn btn-primary btn-block">
                            <span class="glyphicon glyphicon-th-list"></span>
                            Oil Library
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4>Look Up Some Information</h4>
                    </div>
                    <div class="panel-footer">
                        <p>
                            Learn about  specific features in the
                            Web Oil Library User Manual.
                        </p>
                        <a href="#" class="doc btn btn-warning btn-block">
                            <span class="glyphicon glyphicon-question-sign"></span>
                            Web Oil Database User Manual
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
