<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" title="Return to WebOilDatabase startup page">
        <img class="navbar-oil-db-icon" src="img/oil-barrel-128x128.png" height="50" width="50">
    </a>
</div>

<div class="collapse navbar-collapse" id="navbar-main">
    <ul class="nav navbar-nav">    
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" title="Create a new model" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> New <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="locations" title="">Select a Location File</a></li>
                <li><a href="#" class="adios" title="">Oil Fate Wizard</a></li>
                <li><a href="#" class="setup" title="">Manual Setup</a></li>
                <li><a href="#" class="load" title="">Load Save File</a></li>
            </ul>
        </li>    

        <li><a href="#" class="edit" title="Edit model in Setup View"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>

        {% if (can_persist) { %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Save your current oil"><span class="glyphicon glyphicon-floppy-save"></span> Save<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#" class="save" title="">Download to My Computer</a></li>
                    <li><a href="#" class="persist" title="">Save on the Server</a></li>
                </ul>
            </li>
        {% } else { %}
            <li><a href="#" class="save" title="Save your current model"><span class="glyphicon glyphicon-floppy-save"> </span> Save</a></li>
        {% } %}

        <li class="dropdown help">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="about" title="About the WebOilDatabase"><span class="glyphicon glyphicon-info-sign"> </span> About</a></li>
                <li><a href="#" class="doc" title="Open WebOilDatabase Help Pages"><span class="glyphicon glyphicon-file"> </span> User Manual</a></li>
                <li><a href="#" class="faq" title="Search Help by Topic"><span class="glyphicon glyphicon-question-sign"> </span> Search</a></li>
                <li><a href="#" class="hotkeys" title="Trajectory Hotkeys"><span class="glyphicon glyphicon-th-list"> </span> Hotkeys</a></li>
            </ul>
        </li>
    </ul>

    <div class="view-toggle">
        <div class="toggle">
            <div title='Query View' class="view query"></div>
            <div title='Properties View' class="view properties"></div>
            <div title='Analysis View' class="view analysis"></div>
            <div class="switch"></div>
        </div>
    </div>
</div>
 
