<div class="alert alert-danger">
    This software is a draft working product distributed solely
    for pre-dissemination peer review under applicable information quality
    guidelines. It should not be used for any other purpose.
    It has not been formally released and does not represent, and should not be
    construed to represent, an official analysis of oil properties.
</div>

<p>
    Information presented on this web application is considered public
    information and may be distributed or copied.  Please note the following
    disclaimers:
</p>

<p>
    The appearance of external links on this website does not constitute
    endorsement of external websites or the information, products or services
    contained therein.
    The developers and maintainers of this product do not exercise any
    editorial control over the information found at these locations.
    These links are provided to be consistent with the stated purpose of this
    application.
</p>

<p>
    Some products and manufacturers are mentioned in descriptive information
    or in metadata records.  Mention of these products or manufacturers
    does not constitute an endorsement.
</p>

<p>
    The quality and completeness of both the metadata, data and information
    products are the responsibility of the individual contributor, and not
    the developers or maintainers of this application. Individual contributors
    are identified in metadata records.
</p>
