<div class="container">
    <div class="row">
        <div class="col-md-11">
            <ul class="nav nav-pills">
                <li>
                    <a href="" class="disclaimer">Disclaimer</a>
                </li>
                <li>
                    <a href="" class="privacy">Privacy Policy</a>
                </li>
                <li class="pull-right">
                    <a class="help"><span> </span> Help, I'm stuck!</a>
                </li>
            </ul>
        </div>
    </div>
</div>