<p>
    We are committed to the privacy of our visitors. We collect no personal
    information about you when you visit this web application unless you
    choose to provide that information to us.
</p>

<p>Here is how we handle information about your visit.</p>

<p>
    When you browse through this website, read pages, or download information,
    we may gather and store certain information about your visit automatically.
    This information does not identify you personally. We automatically collect
    and store information such as the following concerning your visit:
</p>

<ul>
    <li>
        The internet domain (for example, "xcompany.com" if you use a private
        internet access account, or "yourschool.edu" if you connect from a
        university's domain);
    </li>
    <li>
        The IP address from which you access our website.  An IP address is a
        number that is automatically assigned to your computer whenever you are
        surfing the internet.
    </li>
    <li>
        The type of browser and operating system used to access our site;
    </li>
    <li>
        The date and time you access our site;
    </li>
    <li>
        The pages you visit; and
    </li>
    <li>
        If you linked to our website from another website, the address (URL)
        of that website.
    </li>
</ul>

<p>
    We may use this information to help us make the site more useful to
    visitors, and to learn about the number of visitors to the site and the
    types of technology our visitors use.
</p>

<p><strong>Information That You Voluntarily Provide</strong></p>

<p>
    We do not collect personally identifiable information unless you choose to
    provide it to us. If you provide us with personally identifiable
    information (such as names, email addresses, phone numbers, or addresses),
    for example by sending an e-mail or by filling out a form and submitting it
    through our website, we use that information to respond to your message
    and to help us provide you with the information and services that you
    request.
</p>

<p>
    Submitting voluntary information constitutes your consent to the use of the
    information for the stated purpose. When a user clicks the "Submit" button
    on any of the Web forms found on our site they are indicating voluntary
    consent to use of the information they submit for the stated purpose.
    We do not collect or use information for commercial marketing.
</p>

<p>
    The Oil Library web application allows you to set up oil records that
    contain specified location information, however this information is limited
    to general regions, and we do not save or store this information unless
    requested to do so.
</p>

<p><strong>How Information is Used</strong></p>

<p>
    The information collected by the Oil Library web application is used
    primarily to aid in the research of petroleum chemical properties, and
    to be used as input to environmental models.  We make every effort to
    disclose clearly how information is used at the point where it is collected
    so that our users can determine for themselves whether they wish to provide
    the information.
</p>

<p><strong>Retention of Information</strong></p>

<p>
    The primary purpose of the Oil Library database is to retain records of oil
    properties.  We may retain these records for archival purposes.
</p>

<p><strong>Information Protection</strong></p>

<p>
    For site security purposes and to ensure that this service remains
    available to all users, this computer system may employ software
    programs to monitor network traffic to identify unauthorized attempts
    to upload or change information, or otherwise cause damage.
    If such monitoring reveals evidence of possible abuse or criminal activity,
    such evidence may be provided to appropriate law enforcement officials.
    Unauthorized attempts to upload or change information on this server are
    strictly prohibited and may be punishable under the Computer Fraud and
    Abuse Act of 1986 and the National Information Infrastructure Protection
    Act or other law.
</p>

<p><strong>Links to Other Sites</strong></p>

<p>
    This site may have links to the websites of other federal, state, and local
    agencies, private organizations, and non-governmental organizations.
    Once you go to another site, you are subject to the privacy and security
    policies of the new site. It is always a good idea to read the
    Privacy Policy of any website that you visit. The Oil Library web
    application does not control or guarantee the accuracy, relevance,
    timeliness, or completeness of information contained in a linked site.
    We also do not endorse the organizations or individuals maintaining sites
    that we link to, any views they express, or any products/services they
    offer.
</p>

<p><strong>Cookies</strong></p>

<p>
    "Cookies" are small bits of text that are either used for the duration
    of a session ("session cookies"), or saved on a user's hard drive in order
    to identify that user, or information about that user, the next time
    the user logs on to a website ("persistent cookies").
    The Oil Library web application uses cookies that expire after 24 hours
    and does not use any other persistent tracking technology.
    Lastly, one or more of our component sites may use session cookies to
    provide streamlined navigation. These session cookies are deleted from the
    component's server after your session ends and information from them is
    not collected or saved. All information entered by the user into this
    application that is not part of an oil properties record, is only
    maintained until the Oil Library web application is closed.
    Some information is stored locally on the user’s computer and will
    stay there unless manually deleted. This information is not saved on the
    server.
</p>

<p><strong>Interaction with Children</strong></p>

<p>
    No personally identifiable information is collected from children unless
    voluntarily submitted as a request for information or services, or as
    feedback on the Help sections of the Oil Library web application.
    The information collected is used to respond to user inquiries or to
    provide services requested by our users or to improve the Oil Library
    web application.
</p>

<p><strong>Google Analytics</strong></p>

<p>
    The Oil Library web application uses Google Analytics, a third-party
    web measurement and customization technology. Google Analytics places
    a small file on your computer, commonly called a "cookie," so that it can
    recognize your computer if you visit the Oil Library web application
    in the future. This is considered a Tier 2 service.
</p>

<p>
    Google Analytics does not collect personally identifiable information
    through their cookie and does not combine, match, or cross-reference
    information from this website domain with any other information.
    Please review the provider's privacy policy for additional information,
    http://www.google.com/analytics/learn/privacy.html (offsite link).
</p>

<p>
    Visitors who choose to disable this web measurement will still have
    full access to the Oil Library web application. While the details vary
    from browser to browsers, most modern browsers can be set up to accept,
    reject, or request user intervention when a site asks to set a cookie.
    Google Analytics uses a cookie that begins with: _utm.
</p>
