
// variable overrides (needs to come before the bootstrap include
$dark: #17a2b8;  // cyan
$body-bg: #eee;
$line-height-base: 1.2;
$badge-font-weight: 500;
$button-font-weight: 500;
$border-color: #adb5bd;
$nav-tabs-border-color: #adb5bd;
$nav-tabs-link-active-border-color: #adb5bd #adb5bd $body-bg;

// main bootstrap import
@import "ember-bootstrap/bootstrap";
@import "controls";
@import "spinner";
@import "ember-toggle-ios";

.table thead th {
    background-color: #17a2b8;
    padding: 5px 10px;
    color: white;
}

.table th, .table td {
    padding: 0.12rem;
    border-width: 1px;
}

td:empty::after{
  content: "\00a0";
}

.input-group {
    width: inherit;
}

.input-group-prepend {
    width: fit-content;
}

.input-group-text {
    border: none;
    background-color: inherit;
}
.api {
    font-weight: normal;
}
.api:not(:last-child):after {
    content: ", ";
}

.chart {
    border: 1px solid $border-color;
}

.adios-logo {
    background: url(../assets/images/adios_banner_white.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 67px;
    width: 503px;
    vertical-align: middle;
    display: inline-block;
}

.noaa-logo {
    background: url(../assets/images/NOAA_logo.svg);
    background-size: contain;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    position: relative;
}

.status-good {
  color: $green;
}

.status-warning {
  color: $orange;
  // color: $yellow;
}

.status-error {
  color: $red;
}
.reference-height {
  height: 88px;
  overflow: auto;
}
.reference-span {
  white-space: pre-wrap;
  overflow-y: scroll; 
  overflow-x: scroll;
  width: 100%;
  height: 88px;
}
.reference-textarea {
  width: 100%;
}

.large-text-container {
    width: -webkit-fill-available;
}

.range-input-text-field {
    width: -webkit-fill-available;
}

.no-borders{
  border: none;  
  outline: none;
}
.nav-link.active {
  text-decoration: underline;
}

.nav-link-external {
  color: #fff;
  text-decoration: none;
}

.nav-link-external:hover {
  color: #fff;
  text-decoration: none;
}

// This seems unreasonably specific, but that's the only way
// to override the .footer settings.
.modal-body {
    .form {
        .row {
            p {
                a {
                    font-size: 1rem;
                    color: #007bff;
                    padding: 0 0;
                    &:hover{
                        background: #c8c8c8;
                    }
                }
            }
        }
    }
}

.footer{
    padding: 5px 0;
    img{
        width: 64px;
        height: 64px;
    }
    .nav{
        li{
            a{
                @include transition(all .2s);
                color: #dddddd;
                font-size: 0.8rem;
                padding: 5px 10px;

                &.help{
                    background: #3a3a3a;
                    // TODO - add Font Awesome icons
                    // span{
                    //     @include fa;
                    //     @include fa-exclamation-sign;
                    // }
                }

                &:hover{
                    background: #282828;
                }
            }
            button{
                color: #dddddd;
                font-size: 0.8rem;
                padding: 5px 10px;
            }
        }
    }
}

.edit-sample-name {
    font-weight: 500;
    font-size: 1.5rem;
}

.list-item-category {
    border: 1px solid gray;
    border-radius: 2px;
    padding: 0 4px;
    display: inline-flex;
    align-items: center;
    line-height: 1.45;
    float: left;
    margin: 2px 0 2px 3px;
    width: inherit;
}

.list-item-alternate-names {
    border: 1px solid gray;
    border-radius: 2px;
    //color: #ffffff;
    //background-color: #17a2b8;
    padding: 0 4px;
    display: inline-block;
    line-height: 1.45;
    float: left;
    margin: 2px 0 2px 3px;
}

.ember-power-select-multiple-option {
    font-weight: 500;
}

ul.ember-power-select-options {
    columns: 3
}

li.ember-power-select-option {
    span {
        white-space: nowrap;
    }
}

.lt-sort-icon {
    float: left !important;
    margin: 3px;
    color: gray;
}
.lt-column {
    border-right: 1px lightgray solid;
    margin-right: -1;
}
.lt-column:last-child {
    border-right: none;
}
.lt-body {
    vertical-align: text-top;
}
.lt-body {
    padding: 2px;
}
.footer-link {
    color: #fbfbfb;
}
.scrollbar-width-tester {
    position: absolute;
}
.tse-scrollbar.vertical .drag-handle {
  right: 2px;
  width: 0.7em;
}

$ember-power-select-multiple-selection-background-color: #17a2b8;
$ember-power-select-multiple-selection-color: #ffffff;
$ember-power-select-background-color: #eee;

@import 'ember-power-select/themes/bootstrap';
@import "ember-power-select";

@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";
