
// variable overrides (needs to come before the bootstrap include
$dark: #17a2b8;  // cyan
$body-bg: #eee;
$badge-font-weight: 500;
$border-color: #adb5bd;
$nav-tabs-border-color: #adb5bd;
$nav-tabs-link-active-border-color: #adb5bd #adb5bd $body-bg;

// main bootstrap import
@import "ember-cli-bootstrap-4/bootstrap";
@import "controls";
@import "spinner";

.table thead th {
    background-color: #17a2b8;
    color: white;
}

.table th, .table td {
    padding: 0.12rem;
}

.chart {
    border: 1px solid $border-color;
}

.oil-logo {
    background: url(../assets/images/oil-barrel-128x128.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    position: relative;
}

.noaa-logo {
    background: url(../assets/images/NOAA_logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 120px;
    width: 120px;
    position: relative;
}

.status-good {
  color: $green;
}

.status-bad {
  color: $red;
}
