/**
 * Utilities
 */
.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}


/**
 * This section is specific to the noUiSlider behavior
 */
.noUi-handle {
    background: rgba(255, 255, 255, 0.5);
}

.noUi-handle:after, .noUi-handle:before {
    width: 0px;
}

.noUi-tooltip {
    display: contents;
    position: relative;
}


/**
 * This section is specific to the buttons inside the nav-tabs
 */
.nav-tabs > a > button {
    cursor:pointer;
    right: 6px;
    top: 8px;
    padding: 0rem 0.1rem;
}
.nav-tabs > a > button {
    display:none;
}
.nav-tabs > a:hover > button {
    display: inline-flex;
}
