# pip requirements file for the oil_database package.
# These packages are not available via conda

# pynucos is no on conda-forge -- so nothing to do here :-)
# git+https://github.com/NOAA-ORR-ERD/PyNUCOS.git@v2.7.3#egg=unit_conversion

