<div class="row mb-4">
  <div class="col-12">
    <h2 class="align-items-center">About ADIOS Oil Database</h2>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    The ADIOS Oil Database was designed to support oil spill response and oil spill preparedness operations
    through a compilation of publically available oil assays. It includes physical and chemical properties, and
    data on these properties for oils that have undergone weathering. Each record contains data on a single
    crude oil or petroleum product sample. Initial funding was provided by US Department of Interior,
    Bureau of Safety and Environmental Enforcement. The current version was deployed January 2020.
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-2">
    Developed by
  </div>
  <div class="col-md-10">
    National Oceanic and Atmospheric Administration<br />
    National Ocean Service/Office of Response and Restoration<br />
    Emergency Response Division<br />
    7600 Sand Point Way NE<br />
    Seattle, WA 98115
  </div>
</div>

<div class="row mb-2">
  <div class="col-12">
    Contact: <a href="mailto:AdiosDatabase.Help@NOAA.gov">AdiosDatabase.Help@NOAA.gov</a>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    More information available at
    <a href="http://response.restoration.noaa.gov" target="_blank">http://response.restoration.noaa.gov</a>
  </div>
</div>
