<div class="row mb-4">
  <div class="col-12 text-center">
    <h2 class="align-items-center">About this Product</h2>
  </div>
  <div class="col-12">
    <h4 class="align-items-center">Version: 1.0beta</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    The ADIOS Oil Database was designed to support oil spill response and oil spill preparedness operations
    through a compilation of publicly available oil assays. It includes physical and chemical properties, and
    data on these properties for oils that have undergone simulated weathering. Each record contains data on a single
    crude oil or petroleum product sample. Initial funding was provided by US Department of Interior,
    Bureau of Safety and Environmental Enforcement. The current version was deployed March 2021.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h2 class="align-items-center">Database QA Status:</h2>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    The data are presented as-is, and we are currently going through and
    working on verifying each record to ensure its fidelity to its original
    source.  The data in this database are aggregated from numerous sources,
    including the Environment and Climate Change Canada ESTS lab, SINTEF,
    NOFO, publicly-available assays from Exxon and other petroleum companies,
    and data collected by NOAA in the ADIOS2 database. We are in the process
    of assigning labels and product types to make searching easier.
  </div>
</div>


<div class="row mb-4">
  <div class="col-12">
    <h4 class="align-items-center">Software Interface Status:</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    The ADIOS DB software interface is currently in beta, which means that
    we are no longer adding new features and are focused on fixing software
    bugs.
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-2">
    <h4 class="align-items-center">Developed by</h4>
  </div>
  <div class="col-md-10">
    National Oceanic and Atmospheric Administration<br>
    National Ocean Service/Office of Response and Restoration<br>
    Emergency Response Division<br>
    7600 Sand Point Way NE<br>
    Seattle, WA 98115<br><br>
    E-mail us at:
    <a href="mailto:orr.adios@noaa.gov?subject=ADIOS Oil Database">orr.adios@noaa.gov</a>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    More information available at
    <a href="http://response.restoration.noaa.gov" target="_blank" rel="noopener noreferrer">
      http://response.restoration.noaa.gov
    </a>
  </div>
</div>
