<div class="jumbo">
  <div class="right oil-logo"></div>

  <h2>About the ADIOS Oil Database</h2>

  <p>
    The ADIOS Oil Database
    (<b>A</b>utomated <b>D</b>ata <b>I</b>nquiry for <b>O</b>il <b>S</b>pills)
    provides the means for querying the physical
    and chemical properties for hundreds of oils.
    It is maintained by the NOAA Office of Response and Restoration (OR&R)
  </p>

</div>
