<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">

    {{#link-to "index" class="navbar-brand"}}
      <h1>
        <em>ADIOS Oil Database</em>
      </h1>
    {{/link-to}}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          {{#link-to "about" class="nav-link"}}
            About <span class="sr-only">(current)</span>
          {{/link-to}}
        </li>

        <li class="nav-item active">
          {{#link-to "contact" class="nav-link"}}
            Contact <span class="sr-only">(current)</span>
          {{/link-to}}
        </li>

      </ul>
    </div>
  </nav>

  <div class="body">
    {{outlet}}
  </div>

  <footer class="footer bg-secondary">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <img src="/assets/images/NOAA_logo.svg" alt="">
        </div>
        <div class="col-md-11">
          <ul class="nav nav-pills">
            <li><a href="http://www.commerce.gov/" target="_blank" rel="noopener">US DOC</a></li>
            <li><a href="http://www.noaa.gov" target="_blank" rel="noopener">NOAA</a></li>
            <li><a href="http://oceanservice.noaa.gov/" target="_blank" rel="noopener">NOS</a></li>
            <li><a href="http://response.restoration.noaa.gov/" target="_blank" rel="noopener">NOAA Office of Response &amp; Restoration</a></li>
            <li><a href="" class="disclaimer">Disclaimer</a></li>
            <li><a href="" class="privacy">Privacy Policy</a></li>
            <li><a href="mailto:oildb.help@noaa.gov">Contact Us</a></li>
            <li class="nav-item float-right"><a class="help"><span> Help, I'm stuck!</span> </a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</div>

