<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">

    {{#link-to "index" class="navbar-brand"}}
      <h1>
        <em>ADIOS Oil Database</em>
      </h1>
    {{/link-to}}

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active">
          {{#link-to "about" class="nav-link"}}
            About <span class="sr-only">(current)</span>
          {{/link-to}}
        </li>

        <li class="nav-item active">
          {{#link-to "contact" class="nav-link"}}
            Contact <span class="sr-only">(current)</span>
          {{/link-to}}
        </li>

      </ul>
    </div>
  </nav>

  <div class="body">
    {{outlet}}
  </div>

  <footer class="footer bg-secondary">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-12 pl-4">
          <img src="/assets/images/NOAA_logo.svg" alt="">
          <a href="http://response.restoration.noaa.gov/" class="footer-link" target="_blank" rel="noopener">NOAA Office of Response &amp; Restoration</a>
        </div>
      </div>
    </div>
  </footer>

</div>

