<div class="row">
  <div class="col-9 mb-4">
    <div class="row mb-4">
      <div class="col-12">
        <h2>Contacting the Development Team</h2>
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        Please report any issues, or submit questions to:
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-12">
        <a href="mailto:adios.orr.noaa.gov?subject=ADIOS Oil Database query">adios.orr.noaa.gov</a>
      </div>
    </div>

    <div class="col-12 pl-0">
      National Oceanic and Atmospheric Administration<br>
      National Ocean Service/Office of Response and Restoration<br>
      Emergency Response Division<br>
      7600 Sand Point Way NE<br>
      Seattle, WA 98115
    </div>
  </div>

  <div class="col-3 mb-4">
    <div class="right noaa-logo"></div>
  </div>

</div>






