<div class="row">
  <div class="col-9 mb-4">
    <div class="row mb-4">
      <div class="col-12">
        <h2>Troubleshooting</h2>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        Most of the time refreshing the browser will resolve any client-side issues.
      </div>
    </div>

    <div class="row mb-4">
      <div class="col-12">
        If your problem(s) persist feel free to email support at this address: 
        <a href="http://response.restoration.noaa.gov" target="_blank">http://response.restoration.noaa.gov</a>. Thanks!
      </div>
    </div>

  </div>
  <div class="col-3 mb-4">
    <div class="right noaa-logo"></div>
  </div>


</div>






