<div class="row mb-4">
  <div class="col-12">
    <h2 class="align-items-center">Disclaimer</h2>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    Information presented on this Web site is considered public information
    and may be distributed or copied. This Web site is maintained by NOAA’s
    National Ocean Service. Please note the following disclaimers:
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    The appearance of external links on this World Wide Web site does not
    constitute endorsement by the Department of Commerce (DOC)/(NOAA) of
    external Web sites or the information, products or services contained
    therein. For other than authorized activities, DOC/NOAA does not exercise
    any editorial control over the information found at these locations.
    These links are provided to be consistent with the stated purpose of this
    DOC/NOAA Web site.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    Some products and manufacturers are mentioned in descriptive information
    or in metadata records. Mention of these products or manufacturers does not
    constitute an endorsement by NOAA or DOC.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    The quality and completeness of both the metadata, data and information
    products are the responsibility of the individual contributor, and not
    NOAA or DOC. Individual contributors are identified in metadata records.
  </div>
</div>
