<div class="container-fluid">
  <div class="row d-flex justify-content-center">
      <div class="col-12 col-sm">
        <h2 align="center" class="title">No Connection!!!</h2>

        <p align="center">
          It is quite likely that the Backend for this client is not running.
        </p>
      </div>
  </div>

</div>
