<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Welcome to the ADIOS Oil Database!</h2>
      <p>Browse through our list of oils, or query for a particular oil.</p>
    </div>

    <div class="col-xs-4">
      <div class="oil-logo"></div>        
    </div>
  </div>
</div>
{{outlet}}
