<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p>Browse through the list of oils, or query for a particular oil.</p>
    </div>
  </div>
</div>
{{outlet}}

<footer class="footer mt-auto py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-1">
        <img src="/assets/images/NOAA_logo.svg" alt="">
      </div>
      <div class="col-md-11">
        <ul class="nav nav-pills">
          <li><a href="http://www.commerce.gov/" target="_blank" rel="noopener">US DOC</a></li>
          <li><a href="http://www.noaa.gov" target="_blank" rel="noopener">NOAA</a></li>
          <li><a href="http://oceanservice.noaa.gov/" target="_blank" rel="noopener">NOS</a></li>
          <li><a href="http://response.restoration.noaa.gov/" target="_blank" rel="noopener">NOAA Office of Response &amp; Restoration</a></li>
          {{!-- <li><a href="" class="disclaimer">Disclaimer</a></li>
          <li><a href="" class="privacy">Privacy Policy</a></li>
          <li><a href="mailto:oildb.help@noaa.gov">Contact Us</a></li> --}}
          <li class="nav-item float-right"><a class="help"><span> Help, I'm stuck!</span> </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
