<div class="row mb-4">
  <div class="col-12">
    <h2 class="align-items-center">Privacy Policy</h2>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    We are committed to the privacy of our visitors. We collect no personal
    information about you when you visit our website unless you choose to
    provide that information to us.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    Here is how we handle information about your visit.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    When you browse through this website, read pages, or download information,
    we will gather and store certain information about your visit automatically.
    This information does not identify you personally. We automatically collect
    and store information such as the following concerning your visit:
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <ul>
      <li>
        The Internet domain (for example, "xcompany.com" if you use a private
        Internet access account, or "yourschool.edu" if you connect from a
        university's domain);
      </li>
      <li>
        Your IP address (an IP address is a number that is automatically
        assigned to your computer whenever you are surfing the Web) from which
        you access our website;
      </li>
      <li>
        The type of browser and operating system used to access our site;
      </li>
      <li>
        The date and time you access our site;
      </li>
      <li>
        The pages you visit; and
      </li>
      <li>
        If you linked to our website from another website, the address (URL)
        of that website.
      </li>
    </ul>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    We use this information to help us make our site more useful to visitors—to
    learn about the number of visitors to our site and the types of technology
    our visitors use.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h4>Information That You Voluntarily Provide</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    We do not collect personally identifiable information unless you choose to
    provide it to us. If you provide us with personally identifiable information
    (such as names, email addresses, phone numbers, or addresses), for example
    by sending an e-mail or by filling out a form and submitting it through our
    website, we use that information to respond to your message and to help us
    provide you with the information and services that you request.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    Submitting voluntary information constitutes your consent to the use of the
    information for the stated purpose. When a user clicks the "Submit" button
    on any of the Web forms found on our site they are indicating voluntary
    consent to use of the information they submit for the stated purpose.
    We do not collect or use information for commercial marketing.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    We store non-personally identifiable information we collect (such as search
    engine queries and anonymous survey responses) indefinitely to help us
    better understand and meet the needs of our visitors. We may share
    non-personally identifiable information with others, including the public,
    in aggregated form (for instance, in a list of the number of inquiries on a
    certain topic), in partial or edited form (such as in a report summarizing
    feedback to Help sections), or verbatim (for example, in a complete listing
    of all feedback received).
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h4>How Information is Used</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    The information we collect is used for a variety of purposes (e.g., to
    respond to requests for information about our products and policies).
    We make every effort to disclose clearly how information is used at the
    point where it is collected so that our users can determine for themselves
    whether they wish to provide the information.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h4>Sharing of Information</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    We may share the information you give us with another government agency
    if your inquiry relates to that agency. In other limited circumstances,
    such as responses to requests from Congress and private individuals,
    we may be required by law to disclose information you submit. Before you
    submit personally identifiable information, such as on an online form,
    you will be advised as to the purpose and how the information will be used.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    We may also share information collected during your visit with non-federal
    entities, but only if your inquiry requires accessing data from that
    external entity. All of our sites that require such external access will be
    clearly identified to help you make an informed choice.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h4>Retention of Information</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    We destroy the information we collect when the purpose for which it was
    provided has been fulfilled unless we are required to keep it longer by
    statute or official policy. Electronically submitted information is
    maintained and destroyed according to the principles of the Federal Records
    Act and the regulations and records schedules approved by the National
    Archives and Records Administration and in some cases information submitted
    to us may become an agency record and therefore might be subject to a
    Freedom of Information Act (offsite link) request.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h4>Information Protection</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    For site security purposes and to ensure that this service remains available
    to all users, this government computer system employs software programs to
    monitor network traffic to identify unauthorized attempts to upload or
    change information, or otherwise cause damage. If such monitoring reveals
    evidence of possible abuse or criminal activity, such evidence may be
    provided to appropriate law enforcement officials. Unauthorized attempts to
    upload or change information on this server are strictly prohibited and may
    be punishable under the Computer Fraud and Abuse Act of 1986 and the
    National Information Infrastructure Protection Act or other law.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h4>Links to Other Sites</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    This site may have links to the websites of other federal, state, and local
    agencies, private organizations, and non-governmental organizations.
    Once you go to another site, you are subject to the privacy and security
    policies of the new site. It is always a good idea to read the Privacy
    Policy of any website that you visit. The ADIOS Database application does
    not control or guarantee the accuracy, relevance, timeliness,
    or completeness of information contained in a linked site. We also do not
    endorse the organizations or individuals maintaining sites that we link to,
    any views they express, or any products/services they offer.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h4>Cookies</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    "Cookies" are small bits of text that are either used for the duration of a
    session ("session cookies"), or saved on a user's hard drive in order to
    identify that user, or information about that user, the next time the user
    logs on to a website ("persistent cookies").

    The ADIOS Database application does not use cookies or any other persistent
    tracking technology. However, this site may use Google Analytics, a tool
    that provides basic information about website visitors. Please note that
    this third party service will place a file on your computer so that it can
    recognize if you visit the ADIOS Database application in the future.
    See below for more information. Lastly, one or more of our component sites
    may use session cookies to provide streamlined navigation. These session
    cookies are deleted from the component's server after your session ends and
    information from them is not collected or saved.

    All information entered by the user into this application is only
    maintained until the ADIOS Database application is closed. Some information
    is stored locally on the user’s computer and will stay there unless
    manually deleted. This information is not saved on the server.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h4>Interaction with Children</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    No personally identifiable information is collected from children unless
    voluntarily submitted as a request for information or services.
    The information collected is used to respond to user inquiries or to
    provide services requested by our users or to improve the ADIOS Database
    application.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <h4>Google Analytics</h4>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    The ADIOS Database application may use Google Analytics, a third-party web
    measurement and customization technology as defined and organized by the
    Office of Management and Budget (OMB), “Guidance for Online Use of Web
    Measurement and Customization Technologies”
    (OMB M-10-22, http://www.whitehouse.gov/sites/default/files/omb/assets/memoranda_2010/m10-22.pdf (offsite link).
    Google Analytics places a small file on your computer, commonly called a
    "cookie," so that it can recognize your computer if you visit the ADIOS
    Database application in the future. This cookie does not collect personal
    identifying information. This is considered a Tier 2 service in the OMB
    guidance.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    Google Analytics does not collect personally identifiable information
    through their cookie and does not combine, match, or cross-reference
    response.restoration.noaa.gov information with any other information.
    Please review the provider's privacy policy for additional information,
    http://www.google.com/analytics/learn/privacy.html (offsite link).
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    Visitors who choose to disable this web measurement will still have full
    access to the ADIOS Database application. While the details vary from browser to
    browser, most modern browsers can be set up to accept, reject, or request
    user intervention when a site asks to set a cookie. Google Analytics uses a
    cookie that begins with: _utm.
  </div>
</div>
