<div class="row mb-4">
  <div class="col-12">
    <h2 class="align-items-center">Database QA Status:</h2>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    The data are presented as-is, and we are currently going through and
    working on verifying each record to ensure its fidelity to its original
    source.  The data in this database are aggregated from numerous sources,
    including the Environment and Climate Change Canada ESTS lab, SINTEF,
    NOFO, publicly-available assays from Exxon and other petroleum companies,
    and data collected by NOAA in the ADIOS2 database. We are in the process
    of assigning labels and product types to make searching easier.
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    If you find a data issue, please let us know.  Our e-mail is:
    <a href="mailto:orr.adios@noaa.gov?subject=ADIOS Oil Database QA status">
      orr.adios@noaa.gov
    </a>
  </div>
</div>
