# conda requirements file for the oil_database_api package.

# These should all be in one of the following channels:
# 1: conda-forge
# 2: NOAA-ORR-ERD channel
# 3: defaults
# 
# It would be best to have these channels configured the order of precedence
# outlined above in your conda configuration.

mongodb>=3.3.9
pymongo>=3.6.0

pyramid>=1.10.1
pyramid_tm
cornice>=3.4.4
paste
waitress
ujson
docutils>=0.15.2

pytest>=3.8.0
WebTest

# The oil database is required, but is located within this project
# at OilDatabase/oil_db
# oil_database
