# pip requirements file for the oil_database_api package.
# These packages are not available via conda

#pyramid_mongodb2
# this is installed from github, in editable mode, 'cause the install is broken
#  I've submitted a PR to fix, so we'll see.
-e git+https://github.com/JonnoFTW/pyramid_mongodb2.git#egg=pyramid_mongodb2
