# pip requirements file for the oil_database_api package.
# These packages are not available via conda

# This is now in conda-forge.
# pyramid_mongodb2

https://github.com/NOAA-ORR-ERD/cornice/archive/v4.1.0-noaa.tar.gz
