# pip requirements file for the oil_database_api package.
# These packages are not available via conda

# pyramid_mongodb2
# this is installed from PyPi for now -- a conda-forge package is in the works.
pyramid_mongodb2

