<div id="specificOilContainer">
    <div class="row">
        <div class="col-md-12">
            <h4>{{ data.name }}</h4>
        </div>
    </div>
    <div>
        <div class="pull-right estimated">
            <code>Estimated values are in red</code>
        </div>
    	<ul class="nav nav-tabs" id="oiltabs">
    	    <li class="generalinfo active">
    	        <a href="#generalinfo-oil_{{ viewName }}" data-toggle="tab">General Info</a>
    	    </li>
    	    <li class="properties">
    	        <a href="#properties_{{ viewName }}" data-toggle="tab">Properties</a>
    	    </li>
    	    <li class="distillation">
    	        <a href="#distillation_{{ viewName }}" data-toggle="tab">Distillation</a>
    	    </li>
    	</ul>

    	<div class="tab-content">
    		<div class="tab-pane active" id="generalinfo-oil_{{ viewName }}">
    			<div class="row">
    				<div class="col-md-12">
    					<div><label>Adios Oil ID:</label> {{ data.adios_oil_id }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Product Type:</label> {{ data.imported.product_type }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Location:</label> {{ data.imported.location }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Field Name:</label> {{ data.imported.field_name }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Oil Class:</label> {{ data.imported.oil_class }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Synonyms:</label>
                            {% if (data.imported.synonyms){ %}
        						{% for (var i = 0; i < data.imported.synonyms.length; i++){ %}
        							{{ data.imported.synonyms[i].name }}
        						{% } %}
                            {% } %}
    					</div>
    				</div>
                    <div class="col-md-12">
                        <div><label>Categories:</label>
                            {% if (data.categories){ %}
                                {% for (var i = 0; i < data.categories.length; i++){ %}
                                    <div class="label label-warning">{{ data.categories[i] }}</div>
                                {% } %}
                            {% } %}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div><label>Sample Date:</label></div>
                    </div>
                    <div class="col-md-12">
                        <div>
                            <label class="info" title="The quality index is a numeric score that represents the 'fitness' of the particular oil's record for use in the weathering model.  Please refer to the oil library technical documentation for a detailed explanation of how this score is generated.">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                Quality Index:
                            </label>
                            {{ (data.quality_index * 100).toFixed(1) }}%
                        </div>
                    </div>
    				<div class="col-md-12">
    					<div><label>Reference:</label> {{ data.imported.reference }}</div>
    				</div>
    				<div class="col-md-12">
    					<div><label>Comments:</label> {{ data.imported.comments }}</div>
    				</div>
    			</div>
    		</div>

    		<div class="tab-pane" id="properties_{{ viewName }}">
    			<div class="row">
    				<div class="col-md-6">
    					<div>
    					    <label class="info" title="The American Petroleum Institute gravity, or API gravity, is a measure of how heavy or light a petroleum liquid is compared to fresh water: if its API gravity is greater than 10, it is lighter and floats on water; if less than 10, it is heavier and sinks.">
                                <span class="glyphicon glyphicon-info-sign"></span>
    					        API:
    					    </label>
    					    {{ data.api }}
    					</div>
    				</div>
    				<div class="col-md-6">
                        <label class="info" title="Pour point is the lowest temperature at which an oil will flow under specified conditions. It is roughly equivalent to melting point for pure substances, but because oil is a mixture of compounds, pour point is difficult to measure precisely, and may vary somewhat from sample to sample.">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            Pour Point &deg;F (&deg;C):
                        </label>
                        {% if (data.pour_point_min_k == data.pour_point_max_k) { %}
                            {{ data.pour_point_min_f }} <b>(</b> {{data.pour_point_min_c }} <b>)</b>
                        {% } else { %}
                            [ {{ data.pour_point_min_f }} ... {{ data.pour_point_max_f }} ]
                            <b>(</b> [ {{ data.pour_point_min_c }} ... {{ data.pour_point_max_c }} ] <b>)</b>
                        {% } %}
    				</div>
                    <div class="col-md-6">
                        <label class="info" title="A flash point is defined as the minimum temperature at which an oil or fuel product will ignite on application of an ignition source.  This is different than the fire point of an oil, which is the temperature at which the vapor produced by an oil will continue to burn for at least 5 seconds after ignition.">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            Flash Point  &deg;F (&deg;C):
                        </label>
                        {% if (data.flash_point_min_k == data.flash_point_max_k) { %}
                            {{ data.flash_point_min_f }} <b>(</b> {{data.flash_point_min_c }} <b>)</b>
                        {% } else { %}
                            [ {{ data.flash_point_min_f }} ... {{ data.flash_point_max_f }} ]
                            <b>(</b> [ {{ data.flash_point_min_c }} ... {{ data.flash_point_max_c }} ] <b>)</b>
                        {% } %}
                    </div>
                    <div class="col-md-6">
                        <label class="info" title="Some oils will only form a stable emulsion when a certain fraction of the oil has evaporated. The emulsion constant is the fraction of the oil that must evaporate before the oil emulsifies.">
                            <span class="glyphicon glyphicon-info-sign"></span> Emulsification Constant:
                        </label>
                        {{ data.bullwinkle_fraction }}
                    </div>
                    <div class="col-md-12">
                        <label class="info" title="Beached oil will have different levels of stickiness on the shoreline.  This dimensionless measure is called adhesion.  Adhesion equals zero if the oil will not stick at all and 1 if it adheres completely.">
                            <span class="glyphicon glyphicon-info-sign"></span> Adhesion (Fresh Oil):
                        </label>
                         {{ data.adhesion_kg_m_2 }}
                    </div>
    				<div class="col-md-6">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
    					       <span class="info" title="A measure of a fluid's resistance to flow. Water has a kinematic viscosity of 1 centistoke (cSt) Oil viscosities are generally larger.">
    					           Kinematic Viscosity
    					           <span class="glyphicon glyphicon-info-sign"></span>
    					       </span>
                            </div>
                            <div class="panel-body">
            					{% if (!data.kvis){ %}
            						<div>No Viscosity Data on Record.</div>
            					{% } else { %}
            						<table class="table">
            							<tr>
            								<th>Centistokes (cSt)</th>
            								<th>Reference Temperature &deg;F (&deg;C)</th>
            								<th>Weathering (%)</th>
            							</tr>
            						{% for (var i = 0; i < data.kvis.length; i++){ %}
            							{% var centiStokes = parseFloat(data.kvis[i].m_2_s * 1000000).toFixed(2); %}
                                        {% if (_.isNumber(data.kvis[i].weathering)) { %}
                                            {% var viscosityWeather = (data.kvis[i].weathering * 100).toFixed(3); %}
                                        {% } else { %}
                                            {% var viscosityWeather = '--' %}
                                        {% } %}
            							<tr>
            								<td>{{ centiStokes }}</td>
            								<td>{{ data.kvis[i].ref_temp_f }} <b>(</b> {{ data.kvis[i].ref_temp_c }} <b>)</b> </td>
            								<td>{{ viscosityWeather }}</td>
            							</tr>
            						{% } %}
            						</table>
            					{% } %}
                            </div>
                        </div>
    				</div>
                    <div class="col-md-6">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
                                <span class="info" title="The density of a substance is its mass per unit volume.  Buoyant oils have a density less than that of water (approximately 1000 kg/m^3 for fresh, and 1030 kg/m^3 for salt water)">
                                    Density
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </span>
                            </div>
                            <div class="panel-body">
                                {% if (!data.imported.densities){ %}
                                    <div>No Density Data on Record.</div>
                                {% } else { %}
                                    <table class="table">
                                        <tr>
                                            <th>Density (g/cm^3)</th>
                                            <th>Reference Temperature &deg;F (&deg;C)</th>
                                            <th>Weathering (%)</th>
                                        </tr>
                                    {% for (var i = 0; i < data.densities.length; i++){ %}
                                        {% var density_g_cm_3 = (data.densities[i].kg_m_3 / 1000).toFixed(3); %}
                                        {% if (_.isNumber(data.densities[i].weathering)) { %}
                                            {% var densityWeather = (data.densities[i].weathering * 100).toFixed(3); %}
                                        {% } else { %}
                                            {% var densityWeather = '--'; %}
                                        {% } %}
                                        <tr>
                                            <td>{{ density_g_cm_3 }}</td>
                                            <td>{{ data.densities[i].ref_temp_f }} <b>(</b> {{ data.densities[i].ref_temp_c }} <b>)</b> </td>
                                            <td>{{ densityWeather }}</td>
                                        </tr>
                                    {% } %}
                                    </table>
                                {% } %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
                                <span class="info" title="The attractive force exerted between the surface molecules of a liquid that tends to reduce the interfacial surface area. A typical oil-water interfacial tension is 30 dynes/cm. Chemical dispersants reduce the interfacial tension between oil and water.">
                                    Interfacial Tension (Dynes/cm)
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                </span>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6"><label>Oil-Water:</label> {{ data.oil_water_interfacial_tension_n_m }}</div>
                                <div class="col-md-6"><label>Oil-Seawater:</label> {{ data.oil_seawater_interfacial_tension_n_m }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
                                Metals (ppm)
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6"><label>Nickel:</label> {{ data.nickel_ppm }}</div>
                                <div class="col-md-6"><label>Vanadium:</label> {{ data.vanadium_ppm }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="panel complete panel-default">
                            <div class="panel-heading">
                                Group Analysis (weight %)
                            </div>
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <label class="info" title="Nonpolar oil molecules without double bonds that including linear, branched, and cyclic saturated hydrocarbons.">
                                        <span class="glyphicon glyphicon-info-sign"></span> Saturates:
                                    </label>
                                    {{ data.saturates_fraction }}
                                </div>
                                <div class="col-md-6"><label>Polars:</label> {{ data.polars_fraction }}</div>
                                <div class="col-md-6">
                                    <label class="info" title="Hydrocarbon molecules that contain one or more benzene rings.">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                        Aromatics:
                                    </label>
                                    {{ data.aromatics_fraction }}
                                </div>
                                <div class="col-md-6"><label>Benzene:</label> {{ data.benzene_fraction }}</div>
                                <div class="col-md-6">
                                    <label class="info" title="Large hydrocarbon molecules with one to three sulfur, oxygen, or nitrogen atoms per molecule. Resin can dissolve in oil.">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                        Resins:
                                    </label>
                                    {{ data.resins_fraction }}
                                </div>
                                <div class="col-md-6"><label>Sulfur:</label> {{ data.sulphur_fraction }}</div>
                                <div class="col-md-6">
                                    <label class="info" title="Very large hydrocarbon molecules  that  have one to three sulfur, oxygen, or nitrogen atoms per molecule and  do not dissolve in oil by themselves.">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                        Asphaltenes:
                                    </label>
                                    {{ data.asphaltenes_fraction }}</div>
                                <div class="col-md-6"><label>Paraffins:</label> {{ data.paraffins_fraction }}</div>
                                <div class="col-md-6"><label>Wax Content:</label> {{ data.wax_content_fraction }}</div>
                            </div>
                        </div>
                    </div>
    			</div>
    		</div>

    		<div class="tab-pane" id="distillation_{{ viewName }}">
    			<div class="row">
                    <div class="col-md-12">
        				<h4 class="info pull-left" title="Oil is a mixture of molecules that boil at different temperatures and pressures.  The table displays the cumulative mass fraction of the oil that boils off at atmospheric pressure for a specific liquid temperature of the oil and its corresponding produced vapor temperature.">Distillation Cuts <span class="glyphicon glyphicon-info-sign"></span></h4>
                        {% var tempCuts = null; %}
                        {% if (data.imported.cuts) { %}
                        {%     tempCuts = data.imported.cuts; %}
                        {% } else if (data.cuts) { %}
                        {%     tempCuts = data.cuts; %}
                        {% } %}
                        {% if (!tempCuts) { %}
                            <div>No Distillation Cuts on Record.</div>
                        {% } else { %}
                            <table class="table">
                                <tr>
                                    <th>Cut #</th>
                                    <th>Mass Percent (%)</th>
                                    <th>Vapor Temperature &deg;F (&deg;C)</th>
                                    <th>Liquid Temperature &deg;F (&deg;C)</th>
                                </tr>
                            {% for (var i = 0; i < tempCuts.length; i++){ %}
                                {% var count = i + 1; %}
                                {% var percentCut = (tempCuts[i].fraction * 100).toFixed(1); %}
                                <tr>
                                    <td>{{ count }}</td>
                                    <td>{{ percentCut }}</td>
                                    {% if (tempCuts[i].vapor_temp_f  == "--") { %}
                                        <td> -- </td>
                                    {% } else { %}
                                        <td>{{ tempCuts[i].vapor_temp_f }} <b>(</b> {{ tempCuts[i].vapor_temp_c }} <b>)</b> </td>
                                    {% } %}
                                    {% if (tempCuts[i].liquid_temp_f  == "--") { %}
                                        <td> -- </td>
                                    {% } else { %}
                                        <td>{{ tempCuts[i].liquid_temp_f }} <b>(</b> {{ tempCuts[i].liquid_temp_c }} <b>)</b> </td>
                                    {% } %}
                                </tr>
                            {% } %}
                            </table>
                        {% } %}
                    </div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
