<div id="tableContainer">
    <table class="table table-condensed table-header">
        <thead>
            <tr>
                <th class="name" style="width: 25%">Name<span class="name"></span></th>
                <th class="location" style="width: 25%">Location<span class="location"></span></th>
                <th class="api" style="width: 7%">API<span class="api"></span></th>
                <th class="quality_index" style="width: 7%">Quality<span class="quality_index"></span></th>
                <th style="width: 20%"></th>
            </tr>
        </thead>
    </table>
    <div id="dataTable">
        <table id="tableContainer-inner" class="table table-condensed table-hover">
            <tbody>
                {% if (data.length === 0) { %}
                    <h3 class="text-center">No Results Found.</h3>
                {% } %}
                {% for (var i = 0; i < data.length; i++) { %}
                    {% var api = data.at(i).get('api').toFixed(1) %}
                    {% var quality_index = Math.round(data.at(i).get('quality_index') * 100) %}
                    {% var isGeneric = data.at(i).get('categories').indexOf('Other-Generic') > -1 %}
                    <tr data-generic="{{ isGeneric }}" data-id="{{ data.at(i).get('adios_oil_id') }}" data-name="{{ data.at(i).get('name') }}">
                        <td style="width: 25%">
                            {{ data.at(i).get('name') }}
                        </td>
                        <td style="width: 25%">
                            {{ data.at(i).get('location') }}
                        </td>
                        <td style="width: 7%">{{ api }}</td>
                        <td style="width: 7%">{{ quality_index }}</td>
                        <td style="width: 20%">
                            {% var categories = data.at(i).get('categories') %}
                            {% for (var k = categories.length - 1; k >= 0; k--) { %}
                                <span class="label label-warning">{{ categories[k] }}</span>
                            {% } %}
                            <a class="btn btn-primary btn-xs oilInfo">More Info</a>
                        </td>
                    </tr>
                {% } %}
            </tbody>
        </table>
    </div>
</div>