<div class="detail-section">
  <div class="table-responsive">
    <strong>Adhesion:</strong>

    {{#if oil.adhesion}}
      {{value-unit oil.adhesion.adhesion 3}}
    {{else}}
      No Data
    {{/if}}

  </div>

</div>
