<div class="detail-section">
  <div class="table-responsive">
    <strong>Adhesion:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".adhesion-row-collapse"
             aria-controls="adhesion-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">Adhesion</th>
        </tr>
      </thead>
      <tbody id="adhesion-tbody">
        {{#each oil.adhesions as |adhesion|}}
          <tr class="collapse show adhesion-row-collapse">
            <td>{{value-unit adhesion.adhesion 3}}</td>
          </tr>
        {{/each}}

        {{#if oil.adhesions}}
          <tr class="collapse adhesion-row-collapse">
            <th scope="row">&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>Empty</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
