<div class="detail-section">
  <div class="table-responsive">
    <strong>Benzene & Alkylated Benzene:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".benz-row-collapse"
             aria-controls="benz-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fraction</th>
          <th scope="col">Weathering</th>
        </tr>
      </thead>
      <tbody id="benz-tbody">
        {{#each oil.benzene as |benzene index|}}
          {{#if (eq benzene.weathering weathered)}}
            <tr class="collapse show benz-row-collapse">
              <th scope="row">{{index}}</th>
              <td>{{value-unit benzene.benzene 3}}</td>
              <td>{{benzene.weathering}}</td>
            </tr>
          {{/if}}
        {{/each}}

        {{#if oil.benzene}}
          <tr class="collapse benz-row-collapse">
            <th scope="row">&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>Empty</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
