<div class="detail-section">
  <div class="table-responsive">
    <strong>Benzene & Alkylated Benzene:</strong>

    {{#if oil.benzene.benzene}}
      {{value-unit oil.benzene.benzene 2}}
    {{else}}
      No Data
    {{/if}}
  </div>

</div>
