<div class="detail-section">
  <div class="table-responsive">
    <strong>Chemical Dispersibility:</strong>

    <table class="table table-hover table-bordered">
      <thead aria-controls="chemdisp-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">Dispersant</th>
          <th scope="col">Effectiveness</th>
        </tr>
      </thead>
      <tbody id="chemdisp-tbody">
        {{#if oil.chemical_dispersibility}}
          {{#each oil.chemical_dispersibility as |dispersibility|}}
            <tr>
              <td>{{dispersibility.dispersant}}</td>
              <td>{{value-unit dispersibility.effectiveness 3}}</td>
            </tr>
          {{/each}}
        {{else}}
          <tr><td>No Data</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
