<div class="detail-section">
  <div class="table-responsive">
    <strong>Conradson:</strong>

    <table class="table table-hover table-bordered">
      <thead aria-controls="conradson-tbody">
        <tr>
          <th scope="col">Type</th>
          <th scope="col">Fraction</th>
        </tr>
      </thead>
      <tbody id="conradson-tbody">
        {{#if @oil.conradson}}
          {{#each @oil.conradson as |conradson|}}
            <tr>
              {{#if conradson.crude}}
                <td>Crude</td>
                <td>{{value-unit conradson.crude 3}}</td>
              {{else}}
                <td>Residue</td>
                <td>{{value-unit conradson.residue 3}}</td>
              {{/if}}
            </tr>
          {{/each}}
        {{else}}
          <tr><td>No Data</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
