<div class="row">
  <div class="col-12">
    <Common::ValueUnitTable
      @valueArray={{this.args.oil.densities}}
      @editable={{this.args.editable}}
      @submit={{this.submit}}
      @tableTitle="Density"
      @leftColumnTitle="Density"
      @leftColumnValueName="density"
      @leftColumnPrecision={{3}}
      @leftColumnUnit="g/cm^3"
      @rightColumnTitle="Temperature"
      @rightColumnValueName="ref_temp"
      @rightColumnPrecision={{2}}
      @rightColumnUnit="C"
    />
  </div>
</div>
