<div class="detail-section">
  <div class="table-responsive">
    <strong>Distillation Cuts:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".cut-row-collapse"
             aria-controls="cut-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">Mass Percent</th>
          <th scope="col">Vapor Temperature</th>
        </tr>
      </thead>
      <tbody id="cut-tbody">
        {{#each oil.cuts as |cut|}}
          <tr class="collapse show cut-row-collapse">
            <td>{{value-unit (convert-unit cut.fraction "%") 2}}</td>
            <td>{{value-unit (convert-unit cut.vapor_temp "C") 2}}</td>
          </tr>
        {{/each}}

        {{#if oil.cuts}}
          <tr class="collapse cut-row-collapse">
            <th scope="row">&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>No Data</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
