<div class="row">
  <div class="col-12">
    <Common::ValueUnitTable
      @valueArray={{this.args.oil.dvis}}
      @editable={{this.args.editable}}
      @submit={{this.submit}}
      @tableTitle="Dynamic Viscosity"
      @leftColumnTitle="Viscosity"
      @leftColumnValueName="viscosity"
      @leftColumnPrecision={{3}}
      @leftColumnUnit={{"cP"}}
      @rightColumnTitle="Temperature"
      @rightColumnValueName="ref_temp"
      @rightColumnPrecision={{2}}
      @rightColumnUnit="C"
    />
  </div>
</div>
