<div class="detail-section">
  <div class="table-responsive">
    <strong>SARA Total Fractions:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".sara-row-collapse"
             aria-controls="sara-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">SARA Type</th>
          <th scope="col">Fraction</th>
        </tr>
      </thead>
      <tbody id="sara-tbody">
        {{#each oil.sara_total_fractions as |sara|}}
          <tr class="collapse show sara-row-collapse">
            <td>{{sara.sara_type}}</td>
            <td>{{value-unit sara.fraction 3}}</td>
          </tr>
        {{/each}}

        {{#if oil.sara_total_fractions}}
          <tr class="collapse sara-row-collapse">
            <th scope="row">&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>Empty</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
