<div class="detail-section">
  <div class="table-responsive">
    <strong>Sulfur Content:</strong>

    {{#if oil.sulfur}}
      {{value-unit (convert-unit oil.sulfur.fraction "%") 2}}
    {{else}}
      No Data
    {{/if}}

  </div>

  &nbsp;

</div>
