<div class="detail-section">
  <div class="table-responsive">
    <strong>Sulfur Content:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".sulfur-row-collapse"
             aria-controls="sulfur-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fraction</th>
          <th scope="col">Weathering</th>
        </tr>
      </thead>
      <tbody id="sulfur-tbody">
        {{#each oil.sulfur as |sulfur index|}}
          {{#if (eq sulfur.weathering weathered)}}
            <tr class="collapse show sulfur-row-collapse">
              <th scope="row">{{index}}</th>
              <td>{{value-unit sulfur.fraction 3}}</td>
              <td>{{sulfur.weathering}}</td>
            </tr>
          {{/if}}
        {{/each}}

        {{#if oil.sulfur}}
          <tr class="collapse sulfur-row-collapse">
            <th scope="row">&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>Empty</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
