<div class="detail-section">
  <div class="table-responsive">
    <strong>Water Content:</strong>


    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".water-row-collapse"
             aria-controls="water-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fraction</th>
          <th scope="col">Weathering</th>
        </tr>
      </thead>
      <tbody id="water-tbody">
        {{#each oil.water as |water index|}}
          {{#if (eq water.weathering weathered)}}
            <tr class="collapse show water-row-collapse">
              <th>{{index}}</th>
              <td>{{value-unit water.fraction 3}}</td>
              <td>{{water.weathering}}</td>
            </tr>
          {{/if}}
        {{/each}}

        {{#if oil.water}}
          <tr class="collapse water-row-collapse">
            <th>&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>Empty</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
