<div class="detail-section">
  <div class="table-responsive">
    <strong>Water Content:</strong>

    {{#if oil.water}}
      {{value-unit (convert-unit oil.water.fraction "%") 2}}
    {{else}}
      No Data
    {{/if}}

  </div>

  &nbsp;

</div>
