<div class="detail-section">
  <div class="table-responsive">
    <strong>Wax Content:</strong>

    <table class="table table-hover table-bordered">
      <thead class="clickable" data-toggle="collapse"
             data-target=".wax-row-collapse"
             aria-controls="wax-tbody"
             aria-expanded="false">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fraction</th>
          <th scope="col">Weathering</th>
        </tr>
      </thead>
      <tbody id="wax-tbody">
        {{#each oil.waxContent as |wax index|}}
          {{#if (eq wax.weathering weathered)}}
            <tr class="collapse show wax-row-collapse">
              <th>{{index}}</th>
              <td>{{value-unit wax.fraction 3}}</td>
              <td>{{wax.weathering}}</td>
            </tr>
          {{/if}}
        {{/each}}

        {{#if oil.waxContent}}
          <tr class="collapse wax-row-collapse">
            <th>&#x2026;</th>
          </tr>
        {{else}}
          <tr><td>Empty</td></tr>
        {{/if}}
      </tbody>
    </table>
  </div>

</div>
