<div class="detail-section">
  <div class="table-responsive">
    <strong>Wax Content:</strong>

    {{#if oil.wax_content}}
      {{value-unit (convert-unit oil.wax_content.fraction "%") 2}}
    {{else}}
      No Data
    {{/if}}

  </div>

  &nbsp;

</div>
