# requirements for building the docs
# using loading from gitHub, so that this can be run outside NOAA
numpy>=1.20
awesome-slugify>=1.6.5
python-dateutil
pymongo==3.11.0
openpyxl

sphinx
sphinx_rtd_theme

-e git://github.com/NOAA-ORR-ERD/PyNUCOS.git#egg=unit_conversion

-e git://github.com/NOAA-ORR-ERD/adios_oil_database.git#"egg=adios_db&subdirectory=adios_db/"
