<a href="#" class="nav-item nav-link btn btn-lg" role="button"
   data-toggle="modal"
   data-target="#addSampleDialog" >
  <FaIcon @icon="plus" />
</a>

<TabNav::AddSampleDlg @oil={{@oil}} @submit={{@submit}} />
