<div class="container">
  <center>
    <h4>{{sampleName}}</h4>
  </center>

  <div class="row">
    <div class="col-lg-5">
      <Table::Distillation @oil={{oil}} class="row"/>
    </div>

    <div class="col-lg-5">
      <strong>Distillation Graph:</strong>

      <Graph::Distillation @oil={{oil}} @sampleName={{sampleName}} class="row"/>
    </div>

  </div>
</div>
