<div>
	<h1 class="title">
	    {{ title }}
	    <a class="pull-right back btn btn-primary"><span></span>Back</a>
	</h1>
</div>

<div class="answercontent">
	{{ content }}
	<div class="keywords row">
		<label class="col-md-1">Keywords:</label>
		<div class="col-md-10">
			{{ keywords }}
		</div>
	</div>
	<div class="help-content">
		<div class="feedback">
		    <div class="helpful">
		        Was this helpful? 
		        <a data-helpful="true" class="yes"><span></span> Yes</a>
		        <a data-helpful="false" class="no"><span></span> No</a>
		    </div>
		    <div class="response">
		        <textarea name="response"
		                  class="form-control"
		                  rows="3"
		                  placeholder="What could we do better?">
		        </textarea>
		        <a class="btn btn-primary send">Send</a>
		    </div>
		    <div class="thankyou">Thank you for your feedback!</div>
		</div>
	</div>
</div>